@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/type' as *;
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@mixin default-theme() {
    --background-color: $main-background-color;
    --text-color: $main-text-color
}

@mixin color-theme() {
    --backgrond-color: rgb(32, 71, 41);
    --text-color: rgb(17, 17, 17);
}


html,
body {
    @include color-theme();
    &.is_inverted {
        @include default-theme()
    }
    @media (prefers-color-scheme: default) {
        @include default-theme();
        &.is_inverted {
            @include color-theme()
        }
    }
    width: 100vw;
    height: 100vh;
    background-color: $main-background-color;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
}

li {
    text-decoration: none;
    list-style: none;
    padding-right: .5rem;

    @include tablet {
        padding-right: 1rem;
    }
}

ul {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin: 1rem 0 0 0;
}

p {
    margin-top: 1rem;
}

.mainblock {
    width: 100vw;
    height: 100vh;
    background-color: $main-background-color;
    margin: 0;
    scroll-snap-align: start; 

    &__top {

        width: 100%;
        color: $main-text-color;
        display: flex;
        flex-direction: row;
        height: 50%;

        @include tablet {
            height: 30%;

        }

        @include desktop {
            height: 20%;
        }
    }


    &__tabs {
        text-decoration: none;
        list-style: none;
        width: 32%;
        display: flex;
        flex-direction: row;
        font-size: 1.3rem;
        letter-spacing: 0px;
        text-align: left;
        margin: 0;

        @include tablet {
            width: 38%;
            font-size: 2rem;
            letter-spacing: .5px;
        }

        @include desktop {
            width: 45%;
        }
    }

    &__info {
        width: 55%;
        padding-right: .25rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            padding-right: 6rem;
        }
    }

    &__blurb {
        width: 90%;
        font-size: 1.2rem;
        padding-left: .25rem;
        border-left: 1px solid $main-text-color;
        letter-spacing: .5px;
        margin-left: 1rem;

        @include tablet {
            font-size: 1.3rem;
            width: 58%;
            margin-left: 2rem;
            padding-left: 1rem;
        }
    }
    &__contact {
        width: 70%;
        font-size: 1.2rem;
        margin-left: 1rem;
        padding-left: .25rem;
        padding-top: 1rem;
        border-left: 1px solid $main-text-color;
        overflow-wrap: break-word;

        @include tablet {
            font-size: 1.3rem;
            width: 30%;
            padding-top: 0;
            padding-left: 1rem;
            overflow-wrap: normal;
        }
    }

    &__bottom {
        width: 100vw;

    }

    &__title {

        color: $main-text-color;
        opacity: .9;
        padding-left: 1rem;
        font-size: 4.5rem;
        padding-top: 9rem;
        line-height: 4.5rem;

        @include tablet {
            font-size: 9rem;
            margin-top: 10rem;
            line-height: 10rem;
            

        }
        @include desktop {
            font-size: 13rem;
            font-weight: 900;
            margin-top: 0;
            letter-spacing: .5rem;
            line-height: 14rem;
        }
    }
}    