@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@use '../../partials/type' as *;
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: $main-background-color;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
}

li {
    text-decoration: none;
    list-style: none;
    padding-right: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin-top: 1rem;
}

p {
    margin-top: 1rem;
}

.mainblock {
    width: 100vw;
    height: 100vh;
    background-color: $main-background-color;
    margin: 0;

    &__top {
        height: 30%;
        width: 100%;
        color: $main-text-color;
        display: flex;
        flex-direction: row;
    }

    &__info {
        display: flex;
        flex-direction: row;
    }

    &__tabs {
        text-decoration: none;
        list-style: none;
        width: 55%;
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        letter-spacing: .5px;
    }

    &__info {
        width: 45%;
        padding-right: 6rem;
    }

    &__blurb {
        width: 48%;
        font-size: 1.4rem;
        padding-left: 1rem;
        border-left: 1px solid $main-text-color;
        letter-spacing: .5px;
    }
    &__contact {
        width: 40%;
        font-size: 1.2rem;
        margin-left: 3rem;
        padding-left: 1rem;
        border-left: 1px solid $main-text-color;
    }

    &__bottom {
        width: 100vw;
    }

    &__title {
        color: $main-text-color;
        font-size: 12rem;
        font-weight: 900;
        margin-top: 0;
        padding-top: 6rem;
        padding-left: 1rem;
        letter-spacing: .5rem;
    }
}    